.App {
  font-size: 3em;
  text-align: center;
  padding-top: 2em;
}

.App-link {
  position: relative;
}

.slide-up {
  position: absolute;
  left: 0;
  top: 0;
}

.slide-up-enter-active {
  transform: translate(0, -100%);
  transition: transform;
}
